.boton-clear{
    width: 272px;
    height: 83px;
    font-size: 1.6em;
    display: flex;
    background-color: #ac0246;
    margin: 4px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    transition: 0.15s linear;
    box-shadow: 0px 0px 10px black;
}

.boton-clear:hover{
    background-color: #ff6600;
    box-shadow: inset 0px 0px 20px 1px black, 0px 5px 10px black;
    transform: scale(1.02);
}

.boton-clear:active{
    transform: scale(1);
}