.pantalla-modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.contenedor-modal{
    width: 500px;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #ac0246;
    box-shadow: 0px 0px 30px 1px #ac0246;
    z-index: 1;
}


.contenido-modal{
    width: 90%;
    height: 30%;
    color: #1b1b32;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.boton-modal{
    width: 125px;
    height: 55px;
    background-color: #ac0246;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    user-select: none;
    transition: 0.1s linear;
}

.boton-modal:hover{
    transform: scale(1.02);
    box-shadow: inset 0px 0px 10px black, 0px 5px 10px black;

}