.input{
    min-height: 75px;
    border-radius: 25px;
    margin: 10px 10px 20px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 35px;
    background-color: #6c936b;
    color: #000;
    padding: 11px 30px 11px 11px;
    border: 1px solid #888;
    box-shadow: -1px 2px 5px 1px #fff;
    word-break: break-all;
    transition: 0.2s linear;
}